= javascript_include_tag "parsley.js"
= javascript_include_tag "projects_tags.js"
= javascript_include_tag "roles_responsibilities.js"
%section
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path 
      = raw '&raquo;'
    %li
      = link_to_resume('Resume', current_candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li
      =link_to_project("Projects", @candidate.id, :action => "index")
      = raw '&raquo;'
    %li
      = link_to "Roles", :controller => "projects", :action => "show", :id => @candidate.id, :project_id=> @project.id
      = raw '&raquo;'
    %li
      = raw('<em>Technologies</em>')
      = raw '&raquo;'
    %li= raw('<em>new</em>')
    .clear
  %h3.page_headline 
    %i.iconTechnologyHeadLine
    .h3-page-headline
      = @title
  .divider-headline
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
      %br
  = link_to "Back", :controller => "projects", :action => "show", :id => @candidate.id, :project_id => @project.id
  %br
  %br
  %br
  = form_for(:projtag, :html => {:id => "projtag", :class => "experience", 'data-validate' => 'parsley', :method => "post"}) do |f|
    %h4
      Please enter the following information
    .divider
    .row-fluid
      .field
        = f.label "Tag"
        %br
        = f.select :id, options_from_collection_for_select(Tag.where({:type_tag => ["3"]}).order("name").all, "id", "name"), :include_blank => "- Select one -"
        = text_field_tag "new_projtag_id"
        = button_tag "+", :id => "addButton", :class => "addButton", :type => "button"
    .row-fluid
      .field.width100percent
        = f.label "Description"
        %br
        = f.text_area :description, {:class => "width100percent", 'data-required' => 'true'}
    .row-fluid
      .field
        = f.label :date_in
        %br
        = f.text_field :date_in, :id => 'date_in', :readonly => 'true', :style => 'cursor: pointer; background-color: white', :value => @tag.try(:date_in).try(:strftime,'%Y-%m-%d')
      .field
        = f.label :date_out
        %br
        = f.text_field :date_out, :id => 'date_out', :readonly => 'true', :style => 'cursor: pointer; background-color: white', :value => @tag.try(:date_out).try(:strftime,'%Y-%m-%d')
    .actions
      %br
        = f.submit "Add Technology",{:class => "btn btn-primary", :id => "send"}
:javascript
    jQuery(document).ready(function(){
              
      var date = new Date();
      $( "#date_in" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy-mm-dd',
        yearRange: "1950:".concat(String(date.getFullYear())),
        //yearRange: "1950:2013",
        onClose: function( selectedDate ) {
        $( "#date_out" ).datepicker( "option", "minDate", selectedDate );
        }
      });
      $( "#date_out" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy-mm-dd',
        yearRange: "1950:".concat(String(date.getFullYear())),
        //yearRange: "1950:2013",
        onClose: function( selectedDate ) {
        $( "#date_in" ).datepicker( "option", "maxDate", selectedDate );
        }
      })             
              
    });
    
    jQuery("#projtag").submit(function(e){
         
        //alert(jQuery("select[id='projtag_id'] option:selected").val());
        //alert(jQuery('#new_projtag_id').val());
        
        if(!jQuery("select[id='projtag_id'] option:selected").val() && !jQuery('#new_projtag_id').val()){
          alert("Please select or add a technology")
          e.preventDefault();
        }
      
    });
