%section
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path 
      = raw '&raquo;'
    %li
      = raw('<em>Catalogs</em>')
      = raw '&raquo;'
    %li
      = link_to "Interviewer", :controller => "interviewers", :action => "index", :id => current_candidate.id
      = raw '&raquo;'
    %li= raw('<em>New</em>')
    .clear
  %h3.page_headline 
    %i.iconExperienceHeadLine
    .h3-page-headline
      New Interviewer
  .divider-headline
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
      %br
  = link_to "Back", :controller => "interviewers", :action => "index", :id => current_candidate.id
  %br
  %br
  %br
  = form_for(:interviewer, :html => {:class => "experience", 'data-validate' => "parsley",  :method => "post"}) do |f|
    %h4
      Please enter the following information
    .divider
    %br  
    .row-fluid
      .span6
        .field
          = f.label "Name"
          %br
          = f.text_field :name, :onkeyup => "checkMaxlength(this);", :maxlength => 30, :data => { :required => "true" }
        .actions
          %br
          -if !InterviewsType.all.empty?
            = f.submit "Accept", :class => "btn btn-primary"
      .span6
        .field
          = f.label "Interview Type"
          %br
          -if InterviewsType.all.empty?
            = link_to "Add at least one interview type", :controller => "interviews_types", :action => "new"
          -else
            = f.select :interviews_type_id, options_from_collection_for_select(InterviewsType.order("name").all, "id", "name"), {:include_blank => '- Select one -'}, :data => { :required => "true" }
