= javascript_include_tag 'projects_techs.js' 
<!-- Content -->      
%section
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path 
      = raw '&raquo;'
    %li
      = link_to_resume('Resume', current_candidate.id, :action => 'resume')
      = raw '&raquo;'
    %li= raw('<em>Projects</em>')
    .clear
  %h3.page_headline 
    %i.iconExperienceHeadLine
    .h3-page-headline
      Projects
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  %br
  =link_to_project("Add Project", @candidate.id, :action => "new")
  %br
  %br
  - if @projects_items.count > 0
    %br
    - @projects_items.each do |project|
      %br
      .project_left
        %h6= project.name
      .project_right
        .btn-group
          = link_to "Edit", url_options = {:controller => "projects", :action => "show", :id => @candidate.id, :project_id=> project.id}, html_options = {:tabindex =>"-1", :class=>"btn btn-primary ajax-modal", :style=>"color:white;"}
          %button.btn.btn-primary.dropdown-toggle
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Delete", url_options = { :controller => "projects", :action => "destroy", :id => @candidate.id, :project_id=> project.id }, html_options = { :confirm => "Are you sure you want to delete this project?" }
      %br
      #project-description
        %pre
          = project.summary
      - if project.projects_roles.count > 0
        %list
          - project.projects_roles.each do |role|
            %br
            %br
            %br
            #row
              %i.iconRolesHeadLine
              .project_role_left
                %h6
                  = Role.find_by_projects_role_id(role.id).name
                .divider-headline-middle
              .project_role_right
                = Date::MONTHNAMES[role.date_in.month]
                = role.date_in.year
                = raw(' - ')
                = Date::MONTHNAMES[role.date_out.month]
                = role.date_out.year
              %br
            - if role.roles.count > 0
              - role.roles.each do |r|
                %i.iconResponsibilitiesHeadLine
                .responsibility_left
                  %h6
                    Responsibilities
                  %br
                  - if r.roles_responsibilities.count > 0
                    - r.roles_responsibilities.each do |respon|
                      .responsibility_left
                        %il
                          %pre
                            = respon.description
                  - else
                    &nbsp;----
                %br
                %br
                %i.iconTechnologyHeadLine
                .tag_left
                  %h6
                    Platforms
                  %br
                - if ProjectsTag.find_by_projects_role_id(role.id).tags.where("type_tag" == 3).count > 0
                  - ProjectsTag.find_by_projects_role_id(role.id).tags.where("type_tag" == 3).each do |t|
                    - @tmpTag = t
                    %il
                      .tag_left
                        %strong
                          = @tmpTag.name
                        %a{:href => '#!', :id=>"techs#{@tmpTag.id}_#{role.id}", :onclick=>"showTechs(#{@tmpTag.id}, #{role.id});"}
                          = "(" + role.technames(@tmpTag.id) + ")"
                      .tag_right
                        = Date::MONTHNAMES[t.date_in.month]
                        = t.date_in.year
                        = raw(' - ')
                        = Date::MONTHNAMES[t.date_out.month]
                        = t.date_out.year
                - else
                  .tag_left
                    &nbsp;----
                %br
                %br
                %i.iconKnowledgeHeadLine
                .tag_left
                  %h6
                    Knowledges
                  %br
                - if ProjectsTag.find_by_projects_role_id(role.id).tags.where("type_tag" == 2).count > 0
                  - ProjectsTag.find_by_projects_role_id(role.id).tags.where("type_tag" == 2).each do |t|
                    %il
                      .tag_left
                        %strong
                          = t.name
                        %pre
                          &nbsp;&bull;
                          = t.description
                      .tag_right
                        = Date::MONTHNAMES[t.date_in.month]
                        = t.date_in.year
                        = raw(' - ')
                        = Date::MONTHNAMES[t.date_out.month]
                        = t.date_out.year
                - else
                  .tag_left
                    &nbsp;----
                %br
                %br
                %i.iconToolsHeadLine
                .tag_left
                  %h6
                    Tools
                  %br
                - if ProjectsTag.find_by_projects_role_id(role.id).tags.where("type_tag" == 1).count > 0
                  - ProjectsTag.find_by_projects_role_id(role.id).tags.where("type_tag" == 1).each do |t|
                    %il
                      .tag_left
                        %h6
                          = t.name
                      .tag_right
                        = Date::MONTHNAMES[t.date_in.month]
                        = t.date_in.year
                        = raw(' - ')
                        = Date::MONTHNAMES[t.date_out.month]
                        = t.date_out.year
                      .tag_left
                        %pre
                          = t.description
                - else
                  .tag_left
                    &nbsp;----
                %br
                %br
        %br
        %br
        %br
        %br
      - else
        .experience_details_wrapper
        .experience_details_left
          %br
          %br
          This project doesn't have a role, edit the project and create at least one role.
      
      %br
      %br
  - else
    %h4 Please create at least one project.
    .divider
  %br
  %div{:id => 'dlgTechnologies', :title => 'Choose technologies for that platform'}
    %form{:id=>'frmTechs', :name=>'frmTechs'}
      %fieldset
        #techContent
  .clear
