#reports_container
  #head_div{:style => "display: inline"}
    = button_tag "Back",:class => 'btn-primary', :onclick => 'restore_content_html2()', :style => "float: right"
    %h3{:style => "float: left"}
      %p
        Report result
  %table#candidates_table.display
    %thead{:style => "text-align: center;"}
      %tr
        %th
          First Name
        %th
          Middle Name
        %th
          First Last Name
        %th
          Second Last Name          
        %th
          E-Mail
    %tbody 
      -@candidates.each do |id, row|
        %tr
          %td
            = link_to row.first_name, "/candidates/#{row.id}/wall"
          %td
            = link_to row.middle_name, "/candidates/#{row.id}/wall"
          %td
            = link_to row.first_last_name, "/candidates/#{row.id}/wall"
          %td
            = link_to row.second_last_name, "/candidates/#{row.id}/wall"
          / %td
          /   - if row.projects.count > 0
          /     - row.projects.each do |projects|
          /       - if projects.projects_roles.count > 0
          /         - projects.projects_roles.each do |project_roles|
          /           - if project_roles.tags3.count > 0
          /             - project_roles.tags3.each do |project_tag|
          /               = Tag.find(project_tag.tags_id).name + " - "
          %td
            = row.email
           