#flash
  - flash.each do |key, value|
    %br
    .flash{:class => key}= value
= form_for(:candidate_profile, :html => {:class => "experience", :method => "post"})do |f|
  .actions
    = f.submit "Save",{:class => "btn btn-primary", :id => "btnSave"}
    &nbsp;&nbsp;
    = f.button "Preview",{:class => "btn btn-primary", :id => "btnPreview"}
  %br
  %h4
    Please enter the following
  .divider
  .row-fluid
    .field
      = f.label "Name"
  %br
  .row-fluid
    = f.text_field :name
  .row-fluid
    .field
      = f.label "Summary"
  %br
  .row-fluid
    = f.text_area :summary, {:class => "width100percent"}

%fieldset
  %form{:id =>'frmPreview', :action =>"/candidates/#{@candidate.id}/projects/projects/buildprofile", :method =>'post'}
    %input{:name=>'filter', :id=>'filter', :type=>'hidden'}
    %input{:name=>'summaryprof', :id=>'summaryprof', :type=>'hidden'}
    %input{:name=>'nameprof', :id=>'nameprof', :type=>'hidden'}
  .clear

.tree
:javascript
  jQuery(document).ready(function(){

    var source = [
                 {
                     label: "Projects", expanded: true, items: [
                       {  label: "Calendar" },
                       {  label: "Contacts", selected: true }
                     ]
                 },
                 {
                      label: "Technologies", expanded: true, items: [
                      {  label: "Admin" },
                      {  label: "Corporate" },
                      {  label: "Finance" },
                      {  label: "Other" },
                     ]
                 },
                 {     label: "Knowledges", expanded: true, items: [
                       {  label: "Admin" },
                       {  label: "Corporate" },
                       {  label: "Finance" },
                       {  label: "Other" },
                      ]
                 },
                 {     label: "Tools", expanded: true, items: [
                       {  label: "Admin" },
                       {  label: "Corporate" },
                       {  label: "Finance" },
                       {  label: "Other" },
                      ]
                 }

            ];

            // create jqxTree
            $('#tree').jqxTree({ source: source, width: '250px', theme: 'arctic' });
            //$('#checkboxTree').jqxTree({ height: '400px', hasThreeStates: true, checkboxes: true, width: '330px', theme: 'arctic' });
        });

