%section
  %ul#breadcrumbs
    %li
      = link_to 'Home', root_path 
      = raw '&raquo;'
    %li
      = raw('<em>Administration</em>')
      = raw '&raquo;'
    %li
      = link_to "Interviews", :controller => "candidates_interviews", :action => "index", id:@candidate.id
      = raw '&raquo;'
    %li= raw('<em>edit</em>')
    .clear
  %h3.page_headline 
    %i.iconExperienceHeadLine
    .h3-page-headline
      Interviewing
      = @candidate.actual_name
  .divider-headline
  %br
  #flash
    - flash.each do |key, value|
      .flash{:class => key}= value
  = link_to "Back", :controller => "candidates_interviews", :action => "index", id:@candidate.id
  %br
  %br
  = form_for(@cand_inter, :html => {:class => "experience", :method => "post"}) do |f|
    %h4
      Please enter the following information
    .divider
    %br
    .row-fluid
      .span6
        .field
          = f.label "Interview type"
          %br
          %br
            %b
              = @cand_inter.interviews_type.name
      .span6 
        .field
          = f.label "Interviewer"
          %br
          %br
            %b
              = @cand_inter.interviewer_user.name
    %br
    =f.fields_for :interviews_scores do |s_f|
      .fluid-row
        .span6
          .field
            =s_f.label s_f.object.question
            %br
            =s_f.select :score, options_for_select(Array.new (21) {|e| e*5})
    .fluid-row
      .span6
        .field
          = f.label "Comments"
          %br
          = f.text_area :comments, {"class"=>"width100percent"}
    .fluid-row
      .span6
        .actions
          %br
          = f.submit "Finish", :class => "btn btn-primary"    
